.container{
    display: flex;
    /* border: 1px solid red; */
}
.container > div {
    padding: 10px;
    /* width: 30%; */
}

@media screen and (max-width: 678px){
    .container{
        display: grid;
        /* border: 1px solid red; */
        justify-content: center;
        justify-items: center;
        gap: 20px;
    }
}